<%= form_tag(people_path, method: :get, class: 'form-inline col-sm-12 mt-2') do %>
  <div class="input-group">
    <%= text_field_tag(:search,
                       params[:search],
                       autocomplete: 'off',
                       required: true,
                       placeholder: 'Type something to search ...',
                       class: 'form-control') %>
    <button class="btn btn-primary btn" type="submit">
      <span aria-hidden="true" class="fa fa-search"></span>
    </button>
  </div>
  <div class="input-group mt-3">
    <% @providers.each do |provider| %>
      <div class="form-check me-3">
        <%= check_box_tag('providers[]',
                          provider.id,
                          params[:providers]&.include?(provider.id.to_s) || params[:providers].nil?,
                          multiple: true,
                          id: "provider_#{provider.id}",
                          class: 'form-check-input ml-3') %>
        <%= label_tag "provider_#{provider.id}",
                      provider.name,
                      class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
<% end %>