<% content_for :content do %>
  <div class="card col-sm-6 offset-sm-3 mt-5">
    <div class="card-header">
      <%= content_for?(:card_header) ? yield(:card_header) : '' %>
    </div>
    <div class="card-body">
      <%= content_for?(:card_body) ? yield(:card_body) : '' %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>